body {
    margin: auto;
    padding: auto;
}

header {
    background-color: #DBB5B5;
    color: #987070;
    padding: 10px;
}

nav {
    display: flex;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 15px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #987070;
}

.logo {
    width: 40%;
}

#about {
    display: flex
}

.img1 {
    width: 40%;
    padding: 10px;
    margin-left: 30px;
}

article .conten1 {
    padding: 20px; 
}

.conten1 h3 {
    color: #C39898;
}

.conten1 h2 {
    color: #;
}

.conten1 p {
    color: #664;
}